@model IEnumerable<PortfolioCore.Models.Tip>

@{
    ViewData["Title"] = "Index";
}

<h1>Tips</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.visible)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prioridad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_alta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(i => i.fecha_alta)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titulo)
            </td>
            <td>
                <img src="@("~/image/" + item.imagen)" asp-append-version="true" style="object-fit: cover; width: 20vw" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.visible)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prioridad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_alta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
