@model PortfolioCore.Models.Noticia

@{
    ViewData["Title"] = "Detalle";
}

    
<h1 class="display-4 text-center">@Model.titulo</h1>

<div class="row text-muted text-justify mb-5">
    <h5 cla>@Model.descripcion</h5>
</div>

<div class="row">
    @if (Model.id % 2 == 0)
    {
        <p class="text-justify">
            <img class="ml-4" align="right" src="@("~/image/" + Model.imagen)" asp-append-version="true" alt="Tip image" style="object-fit: cover; width: 40vw" />
            @Model.contenido
        </p>
    }
    else
    {
        <p class="text-justify">
            <img class="mr-4" align="left" src="@("~/image/" + Model.imagen)" asp-append-version="true" alt="Tip image" style="object-fit: cover; width: 40vw" />
            @Model.contenido
        </p>
    }
</div>

<div class="row justify-content-center">
    <a asp-action="Noticias" class="btn btn-light m-3">Todas las noticias</a>
</div>
    


