@model PortfolioCore.Models.Podcast

@{
    ViewData["Title"] = "DetallePodcast";
}

<h1 class="display-4 text-center mb-4">@Model.titulo </h1>

<div class="row m-1">
    <h5 class="lead text-justify">
        @Html.Raw(Model.descripcion)
    </h5>
</div>

<div class="row m-1 ">
    <iframe src="@Model.url" frameborder="0" style="height: 200px; width:100%"></iframe>
</div>

@if (Model.imagen != null && Model.visibleI != false)
{
    <div class="row mt-4 mb-4 align-items-center">
        @if (Model.id % 2 == 0)   //si es par pone la imagen a la izq y el texto a la der
        {
            <div class="col-sm-6">
                <img src="@("/image/" + Model.imagen)" class="img-fluid float-left" alt="Podcast" />
                @*<img src="~/image/lacumbrecita1.jpg" class="img-fluid float-left" alt="Podcast" />*@
            </div>
            <div class="col-sm-6 text-justify">
                @Html.Raw(Model.contenido)
            </div>
        }
        else
        {
            <div class="col-sm-6 text-justify">
                @Html.Raw(Model.contenido)
            </div>

            <div class="col-sm-6">
                <img src="@("/image/" + Model.imagen)" class="img-fluid float-right" alt="Podcast" />
                @*<img src="~/image/lacumbrecita1.jpg" class="img-fluid float-left" alt="Podcast" />*@
            </div>
        }

    </div>
}
else
{
    <div class="row text-justify m-1 mt-4 mb-4">
        @Html.Raw(Model.contenido)
    </div>
}

@if (Model.contenido2 != null && Model.visibleC2 != false)
{
    <div class="row text-justify m-1 mb-4">
        @Html.Raw(Model.contenido2)
    </div>
}

<div class="row justify-content-center">
    <a asp-action="Podcasts" class="btn btn-light m-3">Todos los podcasts</a>
</div>

