@model PortfolioCore.Models.Podcast

@{
    ViewData["Title"] = "DetallePodcast";
}

<h1 class="display-4 text-center mb-4">@Model.titulo </h1>

<div class="row m-1">
    <h5 class="lead text-justify">
        @Html.Raw(Model.descripcion)
    </h5>
</div>

<div class="row m-1 ">
    <iframe src="@Model.url" frameborder="0" style="height: 200px; width:100%"></iframe>
</div>

@if (Model.imagen != null && Model.visibleI != false)
{
    <div class="row mt-4 mb-4 align-items-center">
        @if (Model.id % 2 == 0)   //si es par pone la imagen a la izq y el texto a la der
        {
            <div class="col-sm-6">
                <img src="@("/image/" + Model.imagen)" class="img-fluid float-left" alt="Podcast" />
            </div>
            <div class="col-sm-6 text-justify">
                @Html.Raw(Model.contenido)
            </div>
        }
        else
        {
            <div class="col-sm-6 text-justify">
                @Html.Raw(Model.contenido)
            </div>

            <div class="col-sm-6">
                <img src="@("/image/" + Model.imagen)" class="img-fluid float-right" alt="Podcast" />
            </div>
        }

    </div>
}
else
{
    <div class="row text-justify m-1 mt-4 mb-4">
        @Html.Raw(Model.contenido)
    </div>
}

@if (Model.contenido2 != null && Model.visibleC2 != false)
{
    <div class="row text-justify m-1 mb-4">
        @Html.Raw(Model.contenido2)
    </div>
}

@if (ViewBag.podcasts != null)
{
    List<int> ids = new List<int>(); /*guardo los id para luego acceder a alguno diferente del model de manera random*/
    Podcast n = null;
    foreach (var item in ViewBag.podcasts)
    {
        ids.Add(item.id);
    }

    Random r = new Random();
    IEnumerable<int> threeRandom = ids.OrderBy(x => r.Next()).Take(1);  /*toma uno al azar de todos los elementos de la lista*/

    int id = @threeRandom.FirstOrDefault();

    foreach (var item in ViewBag.podcasts)
    {
        if (item.id == id && id != Model.id)
        {
            n = item;
        }
    }

    if (n != null)
    {
        <div class="card mb-3 mt-5">
            <div class="row no-gutters">
                @if (ViewBag.config != null)
                {
                    <div class="col-3">
                        <img src="@("~/image/" + ViewBag.config.imagenCardPodcasts)" asp-append-version="true" style="object-fit: cover; width: 20vw" />
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h5 class="card-title">@n.titulo</h5>
                            <p class="card-text">@Html.Raw(n.descripcion)</p>
                            <p class="card-text"><small class="text-muted">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", n.fecha_alta))</small></p>
                            <a asp-route-id="@n.id" asp-action="DetallePodcast" asp-controller="Home" class="btn btn-light">Leer más...</a>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col">
                        <div class="card-body">
                            <h5 class="card-title">@n.titulo</h5>
                            <p class="card-text">@Html.Raw(n.descripcion)</p>
                            <p class="card-text"><small class="text-muted">@Convert.ToString(string.Format("{0:dd/MM/yyyy}", n.fecha_alta))</small></p>
                            <a asp-route-id="@n.id" asp-action="DetallePodcast" asp-controller="Home" class="btn btn-light">Escuchar</a>
                        </div>
                    </div>
                }

            </div>
        </div>
    }
}

<div class="row justify-content-center">
    <a asp-action="Podcasts" class="btn btn-light m-3">Todos los podcasts</a>
</div>

