@model IEnumerable<PortfolioCore.Models.Relato>

@{
    ViewData["Title"] = "View";
}

@if (ViewBag.config != null 
    && ViewBag.config.imagenRelatos != null
    && ViewBag.config.visibleR == true
    )
{
    <img class="img-fluid mb-3" src="@("/image/" + ViewBag.config.imagenRelatos)" asp-append-version="true" alt="Home image" style="object-fit: cover; width: 100%" />
}

<div class="text-center mb-5">
    <h1 class="display-4">Relatos</h1>
</div>

<div class="row">
    @foreach (var item in Model.OrderBy(i => i.prioridad))
    {
        if (item.visible == true)
        {
        <div class="col-sm-6 mb-5">
            <h4>@item.titulo</h4>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="@item.url" allowfullscreen></iframe>
            </div>
            <p>@Html.Raw(item.descripcion)</p>
            <div class="text-center">
                <a asp-route-id="@item.id" asp-action="DetalleRelato" asp-controller="Home" class="btn btn-light btn-block">Leer más...</a>
            </div>
            
        </div>
        }
    }
</div>
