@model PortfolioCore.Models.Config

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Config</h4>
<p>
    <small>
        Los campos con * son obligatorios. <br>
        Las imágenes para la portada deben tener el mismo tamaño.
    </small>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <input type="hidden" asp-for="imagen1Home" />
            <input type="hidden" asp-for="imagen2Home" />
            <input type="hidden" asp-for="imagen3Home" />
            <input type="hidden" asp-for="imagenCardRelatos" />
            <input type="hidden" asp-for="imagenCardPodcasts" />
            <div class="form-group">
                <label asp-for="archivoImagen1Home" class="control-label"></label>
                <input asp-for="archivoImagen1Home" accept="image/*" />
                <span asp-validation-for="archivoImagen1Home" class="text-danger"></span>
                <img src="@("~/image/" + Model.imagen1Home)" asp-append-version="true" style="object-fit: cover; width: 20vw" />
            </div>
            <div class="form-group">
                <label asp-for="archivoImagenCardRelatos" class="control-label"></label>
                <input asp-for="archivoImagenCardRelatos" accept="image/*" />
                <span asp-validation-for="archivoImagenCardRelatos" class="text-danger"></span>
                <img src="@("~/image/" + Model.imagenCardRelatos)" asp-append-version="true" style="object-fit: cover; width: 20vw" />
            </div>
            <div class="form-group">
                <label asp-for="archivoImagenCardPodcasts" class="control-label"></label>
                <input asp-for="archivoImagenCardPodcasts" accept="image/*" />
                <span asp-validation-for="archivoImagenCardPodcasts" class="text-danger"></span>
                <img src="@("~/image/" + Model.imagenCardPodcasts)" asp-append-version="true" style="object-fit: cover; width: 20vw" />
            </div>
            <div class="form-group">
                <label asp-for="fecha_alta" class="control-label"></label>
                <input asp-for="fecha_alta" class="form-control" />
                <span asp-validation-for="fecha_alta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="archivoImagen2Home" class="control-label"></label>
                <input asp-for="archivoImagen2Home" accept="image/*" />
                <span asp-validation-for="archivoImagen2Home" class="text-danger"></span>
                <img id="" src="@("~/image/" + Model.imagen2Home)" asp-append-version="true" style="object-fit: cover; width: 20vw" />
            </div>
            <div class="form-group">
                <label asp-for="archivoImagen3Home" class="control-label"></label>
                <input asp-for="archivoImagen3Home" accept="image/*" />
                <span asp-validation-for="archivoImagen3Home" class="text-danger"></span>
                <img id="" src="@("~/image/" + Model.imagen3Home)" asp-append-version="true" style="object-fit: cover; width: 20vw" />
            </div>
            <div class="form-group">
                <label asp-for="archivoImagenRelatos" class="control-label"></label>
                <input asp-for="archivoImagenRelatos" accept="image/*" />
                <span asp-validation-for="archivoImagenRelatos" class="text-danger"></span>
                <img id="" src="@("~/image/" + Model.imagenRelatos)" asp-append-version="true" style="object-fit: cover; width: 20vw" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="visibleR" /> @Html.DisplayNameFor(model => model.visibleR)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="imagenPodcasts" class="control-label"></label>
                <input asp-for="imagenPodcasts" class="form-control" />
                <span asp-validation-for="imagenPodcasts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagenTips" class="control-label"></label>
                <input asp-for="imagenTips" class="form-control" />
                <span asp-validation-for="imagenTips" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagenSobreMi" class="control-label"></label>
                <input asp-for="imagenSobreMi" class="form-control" />
                <span asp-validation-for="imagenSobreMi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}